# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\toby0\Downloads\Leetcode-Practicing-CPP\Question 0013 Roman To Integer\.idea/dataSources/
/dataSources.local.xml
