# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\toby0\Downloads\Leetcode-Practicing-CPP\Question 0009 Palindrome Number\.idea/dataSources/
/dataSources.local.xml
